// About
.about {
  padding: 60px 0px;
  .container {
    display: flex;
    background-color: $aboutbcg;
  }
    &__left-side {
      padding-left: 100px;
      padding-top: 30px;
      margin-bottom: -30px;
      max-width: 270px;
      width: 100%;
      &-img img {
        @extend %imgcoverstyle;
      }
      &-top {
        margin-bottom: 30px;
        min-height: 265px;
        width: 100%;
      }
      &-bottom {
        min-height: 140px;
        width: 100%;
      }
    }
  .right-side {
    display: flex;
    padding: 30px 70px 30px 0px;
    .h2 {
      margin-bottom: 20px;
    }
    &__img-wrap {
      margin-top: 30px;
      max-width: 270px;
      min-height: 345px;
      &-img {
        @extend %imgcoverstyle;
      }
    }
    &__main {
      margin-left: 30px;
      &-text {
      font-weight: 300;
      line-height: 25px;
      margin-bottom: 20px;
      }
      .button {
        background-color: $white;
        @extend %transition;
        &:hover {
          @extend %darkhover;
        }
      }
    }
  }
}
// Media
@media (max-width: 1200px) {
  .about {
    &__left-side {
      padding-left: 50px;
    }
  }
}

@media (max-width: 1092px) {
  .about {
    .right-side {
      margin-left: 30px;
      padding: 30px 30px 30px 0px;
    }
    &__left-side {
      padding-left: 0px;
    }
  }
}
@media (max-width: 992px) {
  .about {
    .right-side {
      margin-left: 30px;
      padding: 30px 20px 20px 0px;
    }
    &__left-side {
      padding-left: 0px;
    }
  }
}
@media (max-width: 892px) {
  .about {
    position: relative;
    padding-bottom: 380px;
    width: 100%;
    &__left-side {
      max-width: 50%;
      width: 50%;
      &-bottom,
      &-top {
        text-align: right;
      }
    }
    .right-side {
      flex-direction: column;
      max-width: 50%;
      width: 50%;
      &__img-wrap {
        max-width: 100%;
        width: 100%;
      }
      &__main {
        position: absolute;
        left: 20%;
        bottom: 0px;
        max-width: 450px;
        .button {
          background-color: $aboutbcg;
          border: 1px solid $sliderbtnbord;
        }
      }
    }
  }
}
@media (max-width: 610px) {
  .about {
    padding: 30px 0px;
    .container {
      flex-direction: column;
      padding-top: 30px;
      padding-bottom: 30px;
    }
    .right-side {
      max-width:initial;
      padding-right: 0px;
      text-align: center;
      width: 100%;
      margin-left: 0px;
      &__img-wrap {
        margin-top: 0px;
      }
      &__main {
        position: inherit;
        text-align: initial;
        margin-left: 30px;
        margin-top: 20px;
      }
    }
     &__left-side {
        max-width:initial;
        width: 100%;
        margin: 0 auto;
        &-bottom,
        &-top {
          text-align: center;
        }
      }
  }
}

@media (max-width: 576px) {
  .about{
    .right-side {
      &__main {
        margin-left: 0px;
      }
    }
  }
}