// Contact us
.contact-us {
  padding: 60px 0px 120px 0px;
  .h2 {
    margin-bottom: 22px;
  }
  &__content {
    display: flex;
  }
  &__img-wrap {
    max-width: 750px;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}

.form {
  .message .message-star {
      left: 97px;
      top: 10px;
    }
  max-width: 390px;
  width: 100%;
  margin-right: 30px;
  input,
  textarea {
    font-family: 'TT Hoves';
    color: $inputcolor;
    font-size: 14px;
  }
  input[name="user_name"],
  input[name="user_product"] 
  {
    @extend %inputstyle;
  }
  textarea {
    min-height: 147px;
  }
  &__req {
    position: relative;
    color: $inputcolor;
    span {
      position: absolute;
      top: 10px;
      left: 20px;
      font-size: 14px;
      cursor: text;
      width: 100%;
      font-family: 'TT Hoves';
      color: $inputcolor;
    }
    .phone-star {
      left: 128px;
    }
    .mail-star {
      left: 61px;
    }
    input:invalid + span:before
    {
      content: attr(placeholder);
      position: relative;
      color: $inputcolor;
    }
     input:invalid + span:after,
     textarea:invalid + span:after {
      content: '*';
      position: relative;
      color: $inputsmblcol;
    }
  }
    .message {
      position: relative;
      margin-bottom: -10px;
      span {
        position: absolute;
        top: 0px;
        color: $inputsmblcol;
      }
    }
   
 &__policy {
   font-size: 14px;
   letter-spacing: 3%;
   line-height: 100%;
   margin: 0px 0px 22px 40px;
 }
  &__req-input {
    @extend %inputstyle;
  }
 .button {
   display: block;
   @extend %darkbtnstyle;
   @extend %transition;
   &:hover {
     @extend %lighthover;
   }
 }
  .fa-check:before {
    color: $gray1;
    position: absolute;
    width: 24px;
    top: 35%;
    left: 2px;
  }
}

@media (max-width: 670px) {
  .contact-us {
    .h2 {
      text-align: center;
      margin-bottom: 20px;
    }
    &__img-wrap {
      display: none;
    }
    .form {
      margin-right: 0px;
      margin: 0 auto;
    }
  }
}
