// Footer
.footer {
  background: $footerbgc;
  padding: 24px 0px;
  border-top:$linecolor solid 1px;
  color: $footercolor;
  text-align: center;
  &__copyright {
    opacity: 0.5;
  }
}

// @media (max-width: 1200px) {
// }
// @media (max-width: 1092px) {
// }
// @media (max-width: 992px) {
// }
// @media (max-width: 892px) {
// }
// @media (max-width: 767px) {
// }
// @media (max-width: 610px) {
// }
// @media (max-width: 576px) {
// }
// @media (max-width: 420px) {
// }
// @media (max-width: 320px) {
// }