// info
.info {
  background: $footerbgc;
  padding: 60px 0px;
  color: #fff;
  .container {
    display: flex;
    justify-content: space-between;
  }
  &__logo {
    display: block;
    max-width: 145px;
    margin-left: -20px;
    @extend %transition;
    &:hover {
      transform: scale(1.2);
    }
  }
  &__nav-item {
    margin: 16px 0px;
      @extend %transition;
      opacity: 1;
      &:hover {
        @extend %linkhover;
    }
  }
  &__nav-list {
    > li:first-child {
     margin-top: 25px;
    }
  }
  &__dates {
    margin-left: 14px;
  }
  &__address {
    margin-left: 20px;
    max-width: 300px;
    display: inline-block;
  }

  &__contacts-list {
    > li {
      margin-bottom: 33px;
    }
    > li:first-child {
     margin-top: 25px;
     margin-bottom: 40px;
     position: relative;
      .fa-map-marker-alt {
        position: absolute;
        top: 0;
        left: 0;
      }
    }
  }
  &__socials-list {
    display: flex;
    margin-top: 25px;
    justify-content: space-between;
      
  }
  &__social {
    opacity: 1;
    @extend %transition;
    &:hover {
        @extend %linkhover;
      }
  }
}

@media (max-width: 1200px) {
}
@media (max-width: 1092px) {
}
@media (max-width: 992px) {
}
@media (max-width: 892px) {
  .info {
    &__logo {
      margin-left: 0px;
    }
  }
}
@media (max-width: 767px) {
  .info {
    .container {
      flex-direction: column;
      align-items: center;
      text-align: center;
      justify-content: center;
    }
    .h4 {
      margin-top: 30px;
    }
    &__logo {
      margin-bottom: 20px;

    }
  }
}
@media (max-width: 610px) {
}
@media (max-width: 576px) {
}
@media (max-width: 420px) {
}
@media (max-width: 320px) {
}

// @media (max-width: 1200px) {
// }
// @media (max-width: 1092px) {
// }
// @media (max-width: 992px) {
// }
// @media (max-width: 892px) {
// }
// @media (max-width: 767px) {
// }
// @media (max-width: 610px) {
// }
// @media (max-width: 576px) {
// }
// @media (max-width: 420px) {
// }
// @media (max-width: 320px) {
// }