// Media
@media (max-width: 1200px) {
 .container {
    width: 100%;
    padding: 0px 30px;
  }
 .right-side {
    width: 65%;
  }
 .h2 {
    font-size: 48px;
  }
}

@media (max-width: 1092px) {
  .right-side {
    width: 65%;
    padding: 30px 0px;
  }
    

  }
@media (max-width: 992px) {
  .container {
    width: 100%;
    padding: 0px 20px;
  // .menu {
  //   &__item {
  //     margin-right: 40px;
  //   }
  //   }
  }
}

@media (max-width: 767px) {
  // body {
  //   &._lock {
  //     overflow: hidden;
  //   }
  // }
  // .header {
  //   .container {
  //     justify-content: space-between;
  //   }
  // }
  // .menu {
  //   &__link {
  //     font-size: 24px;
  //     &::before {
  //     content: "";
  //     }
  //     &:hover::before {
  //       opacity: 0;
  //       }
  //     &:hover::after,
  //     &:active::after {
  //       bottom: -5px;
  //     }
  //     &:hover::active {
  //       opacity: 0;
  //       }
  //   }
  //   &__icon {
  //     z-index: 5;
  //     display: block;
  //     margin-right: 0;
  //     margin-left: auto;
  //     position: relative;
  //     width: 40px;
  //     height: 40px;
  //     cursor: pointer;
  //     background: url("../img/bars-solid.svg");
  //     background-repeat: no-repeat;
  //     z-index: 400;
  //     &._active {
  //       background: url("../img/times-solid.svg");
  //       background-repeat: no-repeat;
  //       z-index: 500;
  //     }
  //   }
  //   &__body {
  //     position: fixed;
  //     top: 0;
  //     left: -100%;
  //     width: 80%;
  //     height: 100vh;
  //     background-color: $gray6;
  //     color: $gray1;
  //     padding: 100px 30px 30px 30px;
  //     transition: left 0.3s ease 0s;
  //     overflow: auto;
  //     &._active {
  //       left: 0;
  //       z-index: 400;
  //     }
  //   }
  //   &__list {
  //     flex-direction: column;
  //     margin-right: 0;
  //     margin-left: auto;
      
  //     > li:first-child {
  //      margin-top: 30px;
  //     }
  //     > li {
  //       margin: 0px 0px 30px 0px;
  //     }
  //     > li:last-child {
  //       margin-bottom: 0;
  //     }
  //   }
  // }
  .hero {
    min-height: 1200px;
    .container {
      flex-direction: column;
    }
    .h1 {
      max-width: 400px;
      margin-bottom: 30px;
    }
    .right-side {
      width: 100%;
    }
    &__slider {
      
      &__slider-btn-div {
        bottom: 0px;
      }
    &-btn {
      margin-bottom: 30px;
    }
    }
  }

}
@media (max-width: 610px) {

}

@media (max-width: 576px) {
  .hero {
    .h1 {
      font-size: 48px;
      margin-bottom: 20px;
    }
  }
}

@media (max-width: 320px) {
  
  .hero {
    &__slide {
      max-width: 320px;
      height:500px;
    }
  }
}