// Projects
.projects {
  &__grid-top {
    display: grid;
    grid-column-gap: 30px;
    grid-template-columns: 1fr 1fr;
    margin-top: 60px;
    margin-bottom: 30px;
    overflow: hidden;
  }
  &__grid-bottom {
    display: grid;
    grid-column-gap: 30px;
    grid-template-columns: 1fr 1.75fr 1.36fr;
    margin-bottom: 30px;
    overflow: hidden;
  }
  &__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  }
  &__grid-item-1,
  &__grid-item-2,
  &__grid-item-3,
  &__grid-item-4,
  &__grid-item-5 {
    position: relative;
    cursor: pointer;
  }
  &__grid-item-hover {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    background: $gray1;
    opacity: 0;
    padding: 48px 78px 78px 78px;
    color: $white;
    @extend %transition;
    &-title {
      font-size: 64px;
      font-weight: 700;
      text-transform: capitalize;
    }
    &-btn {
      @extend %btntext;
      background: transparent;
      color: $white;
    }
    &:hover {
      opacity: 0.8;
    }
  }
  &__grid-item-3,
  &__grid-item-4,
  &__grid-item-5 {
    .projects__grid-item-hover {
    padding: 20px 30px;
    }
  }
  &__grid-item-3,
  &__grid-item-5  {
    .projects__grid-item-hover-title {
      font-size: 32px;
    }
  }
 .button {
   display: block;
   margin-right: 0px;
   margin-left: auto;
   @extend %darkbtnstyle;
   @extend %transition;
   &:hover {
   @extend %lighthover;
   }
 }
}
// Media
@media (max-width: 1200px) {
  .projects {
    &__grid-top {
      grid-column-gap: 20px;
      margin-bottom: 20px;
    }
    &__grid-bottom {
      grid-column-gap: 20px;
    }
  &__grid-item-hover {
    padding: 30px;
    &-title {
      font-size: 52px;
    }
  }
  // &__grid-item-3,
  // &__grid-item-4,
  // &__grid-item-5 {
  //   .projects__grid-item-hover {
  //   padding: 20px 30px;
  //   }
  // }
  &__grid-item-3,
  &__grid-item-5  {
    .projects__grid-item-hover-title {
      font-size: 30px;
    }
  }
 }
}


@media (max-width: 992px) {
  .projects {
    &__grid-top {
      grid-column-gap: 20px;
      margin-bottom: 20px;
    }
    &__grid-bottom {
      grid-column-gap: 20px;
    }
    &__grid-item-hover {
    padding: 20px;
    &-title {
      font-size: 44px;
    }
  }
    &__grid-item-3,
    &__grid-item-4,
    &__grid-item-5 {
      .projects__grid-item-hover {
        padding: 20px;
      }
    }
    &__grid-item-3,
    &__grid-item-5  {
      .projects__grid-item-hover-title {
      font-size: 26px;
      }
    }
  }
}
@media (max-width: 892px) {
  .projects {
    &__grid-top {
      grid-column-gap: 10px;
      margin-bottom: 10px;
    }
    &__grid-bottom {
      grid-column-gap: 10px;
    }
    &__grid-item-hover {
      padding: 20px;
    &-title {
      font-size: 38px;
    }
  }
    &__grid-item-3,
    &__grid-item-4,
    &__grid-item-5 {
      .projects__grid-item-hover {
        padding: 10px;
      }
    }
    &__grid-item-3,
    &__grid-item-5  {
      .projects__grid-item-hover-title {
      font-size: 24px;
      }
    
    }
    &__grid-item-5 {
      .projects__grid-item-hover {
        padding-right: 30px;
      }
    }
  }
}
@media (max-width: 767px) {
    .projects {
    &__grid-top {
      // grid-column-gap: 10px;
      // margin-bottom: 10px;
    }
    &__grid-bottom {
      // grid-column-gap: 10px;
    }
    &__grid-item-hover {
      padding: 10px;
    &-title {
      font-size: 32px;
    }
  }
    &__grid-item-3,
    &__grid-item-4,
    &__grid-item-5 {
      .projects__grid-item-hover {
        // padding: 10px;
      }
    }
    &__grid-item-3,
    &__grid-item-5  {
      .projects__grid-item-hover-title {
      font-size: 18px;
      }
    
    }
    // &__grid-item-5 {
    //   .projects__grid-item-hover {
    //     padding-right: 30px;
    //   }
    // }
  }
}


@media (max-width: 610px) {
  .projects {
  &__grid-top {
 
    grid-column-gap: 0px;
    grid-row-gap: 20px;
    grid-template-columns: 1fr;
    grid-template-rows: 255px 255px;
  
    margin-bottom: 20px;
  }
  &__grid-bottom {

    grid-column-gap: 0px;
    grid-row-gap: 20px;
    grid-template-columns: 1fr;
 
    grid-template-rows: 255px 255px 255px;
    margin-bottom: 20px;
  }    

  &__grid-item-hover {

    &-title {
  
    }
  }
  &__grid-item-3,
  &__grid-item-4,
  &__grid-item-5  {
    // max-height: 350px;
    // height:100%;
    .projects__grid-item-hover {
      padding: 20px 30px;
    }

  }
  &__grid-item-3,
  &__grid-item-5  {
    .projects__grid-item-hover-title {
      font-size: 32px;
    }
  }
 .button {
   display: block;
   margin-right: 0px;
   margin-left: auto;
 }
}
}

@media (max-width: 576px) {
}
@media (max-width: 420px) {
}
@media (max-width: 320px) {
}

// @media (max-width: 1200px) {
// }
// @media (max-width: 1092px) {
// }
// @media (max-width: 992px) {
// }
// @media (max-width: 892px) {
// }
// @media (max-width: 767px) {
// }
// @media (max-width: 610px) {
// }
// @media (max-width: 576px) {
// }
// @media (max-width: 420px) {
// }
// @media (max-width: 320px) {
// }