@import "nullstyle.scss";
@import "fonts.scss";
@import "variables.scss";
@import "header.scss";
@import "hero.scss";
@import "about.scss";
@import "tasks.scss";
@import "projects.scss";
@import "contact-us.scss";
@import "info.scss";
@import "footer.scss";

body {
  font-family: 'TT Hoves';
  font-weight: 400;
}
.container {
  max-width: 1170px;
  margin: 0 auto;
}
.right-side {
  max-width: 770px;
  width: 100%;
  margin-right: 0;
  margin-left: auto;
}
.h2 {
  
  @extend %h2;
}
.h4 {
  @extend %h4;
}
.button {
  @extend %btnstyle;
}
// Animations
._active {
  transform: translate(0px, 0px);
  opacity: 1;
}
._anim-show {
  transform: translate(0px, 120%);
  opacity: 0;
  transition: all 0.8s ease 0s;
}
._anim-show._active,
._active ._anim-show {
  opacity: 1;
  transform: translate(0px, 0px);
}
// Media
@media (max-width: 1200px) {
 .container {
    width: 100%;
    padding: 0px 30px;
  }
 .right-side {
    width: 65%;
  }
 .h2 {
    font-size: 48px;
  }
}

@media (max-width: 1092px) {
  .right-side {
    width: 65%;
    padding: 30px 0px;
  }
  }
@media (max-width: 992px) {
  .container {
    width: 100%;
    padding: 0px 20px;

  }
}






