@import "nullstyle.scss";
@import "fonts.scss";
@import "variables.scss";
@import "header.scss";
@import "hero.scss";
@import "about.scss";
@import "tasks.scss";
@import "projects.scss";
@import "contact-us.scss";
@import "info.scss";
@import "footer.scss";

body {
  font-family: 'TT Hoves';
  font-weight: 400;
}
.container {
  max-width: 1170px;
  margin: 0 auto;
}
.right-side {
  max-width: 770px;
  width: 100%;
  margin-right: 0;
  margin-left: auto;
}
.h2 {
  
  @extend %h2;
}
.h4 {
  @extend %h4;
}
.button {
  @extend %btnstyle;
}

// Media
@media (max-width: 1200px) {
 .container {
    width: 100%;
    padding: 0px 30px;
  }
 .right-side {
    width: 65%;
  }
 .h2 {
    font-size: 48px;
  }
}

@media (max-width: 1092px) {
  .right-side {
    width: 65%;
    padding: 30px 0px;
  }
  }
@media (max-width: 992px) {
  .container {
    width: 100%;
    padding: 0px 20px;

  }
}

// @media (max-width: 767px) {
//   .hero {
//     min-height: 1200px;
//     .container {
//       flex-direction: column;
//     }
//     .h1 {
//       max-width: 400px;
//       margin-bottom: 30px;
//     }
//     .right-side {
//       width: 100%;
//     }
//     &__slider {
      
//       &__slider-btn-div {
//         bottom: 0px;
//       }
//     &-btn {
//       margin-bottom: 30px;
//     }
//     }
//   }
// }
// @media (max-width: 610px) {

// }

// @media (max-width: 576px) {
//   .hero {
//     .h1 {
//       font-size: 48px;
//       margin-bottom: 20px;
//     }
//   }
// }

// @media (max-width: 320px) {
  
//   .hero {
//     &__slide {
//       max-width: 320px;
//       height:500px;
//     }
//   }
// }






