// Tasks
.tasks {
  padding: 60px 0px;
  &__grid {
    display: flex;
    margin-top: 60px;
    justify-content: space-between;
  }
  &__item {
    display: flex;
  }
  &__item-num {
    display: block;
    font-size: 200px;
    font-family: $sffont;
    color: $gray6;
    line-height: 80%;
  }
  &__item-text1 {
    max-width: 280px;
    @extend %tasktext;
  }
  &__item-text2 {
    max-width: 420px;
    @extend %tasktext;
  }
}

// Media
@media (max-width: 1200px) {
}
@media (max-width: 1092px) {
  .tasks {
    &__item-text1 {
      max-width: 200px;
    }
    &__item-text2 {
      max-width: 350px;
    }
  }
}
@media (max-width: 992px) {
}
@media (max-width: 892px) {
  .tasks {
  padding: 60px;
  &__grid {
    flex-wrap: wrap;
  }
  &__item-num {
    font-size: 180px;
    margin-bottom: 20px;
  }
  }
}
@media (max-width: 767px) {
}
@media (max-width: 610px) {
   .tasks {
  padding: 60px;
  }

}

@media (max-width: 576px) {
  .tasks {
    padding: 60px;
    &__grid {
      margin-top: 30px;
    }
    &__item {
      flex-direction: column;
    }
    &__item-num {
      font-size: 150px;
      text-align: center;
    }
    &__item-text1 {
      margin-bottom: 30px;
    }
}
}
@media (max-width: 420px) {
  .tasks {
  padding: 0px 20px;
  }
}
@media (max-width: 320px) {
}