// Tasks
.tasks {
  padding: 60px 0px;
  &__grid {
    display: flex;
    margin-top: 60px;
    justify-content: space-between;
  }
  &__item {
    display: flex;

    // animation
    transform: translate(-180%, 0px);
    transition: all 0.3s ease 0s;
  }
  &__item-num {
    display: block;
    font-size: 200px;
    font-family: $sffont;
    color: $gray6;
    line-height: 80%;
  }
  &__item-text1 {
    max-width: 280px;
    @extend %tasktext;
  }
  &__item-text2 {
    max-width: 420px;
    @extend %tasktext;
  }
   // animation
  .tasks__grid._active .tasks__item:nth-child(1) {
    transition: all 0.8s ease 1s;
  }
  .tasks__grid._active .tasks__item:nth-child(2) {
    transition: all 0.8s ease 0s;
  }
  .tasks__grid._active .tasks__item {
    transform: translate(0px, 0px);
  }
}

// Media
@media (max-width: 1092px) {
  .tasks {
    &__item-text1 {
      max-width: 200px;
    }
    &__item-text2 {
      max-width: 350px;
    }
  }
}
@media (max-width: 992px) {
}
@media (max-width: 892px) {
  .tasks {
    .h2 {
      text-align: center;
    }
  &__grid {
    flex-wrap: wrap;
    justify-content: center;
    :nth-child(2) {
      margin-top: 30px;
    }
  }
    &__item-num {
      font-size: 180px;
      margin-bottom: 20px;
    }
  }
}
@media (max-width: 610px) {
  .tasks {
    padding: 60px;
  }
}

@media (max-width: 576px) {
  .tasks {
    padding: 60px;
    &__grid {
      margin-top: 30px;
    }
    &__item {
      flex-direction: column;
    }
    &__item-num {
      font-size: 150px;
      text-align: center;
    }
    &__item-text1 {
      margin-bottom: 30px;
    }
  }
}
@media (max-width: 420px) {
  .tasks {
  padding: 30px 20px;
  }
}